.cabeceraNuevoMultimedia{
    margin: 2%;
    width: 100%;
    background-color: #494949;
    padding:0.5%;
}

.formularioNuevoMultimedia{
    border: 1px dotted gray;
    padding: 1%;
    margin:1%;
}